html, body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Oxygen", sans-serif;
  background-color: darkblue;
<<<<<<< HEAD
}

#root {
  width: 100%;
  height: 100%;
=======
>>>>>>> 7fb0e13d265fca1f242856935f4c56d2137d52e0
}